$font-primary: 'Roboto', sans-serif;


* {
    margin: 0;
    padding: 0;
}

:root {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: none;
    background-color: transparent;
    overscroll-behavior: none;

}

body {
    border: inherit;
    background-color: inherit;

    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    max-width: 430px;
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0 auto;

    background-image: url(../assets/buffalo_logo.svg), url(../assets/goat_logo.svg), linear-gradient(
        to bottom,
        $color-warm-black 0%,
        $color-sacramento-state-green 30%,
        $color-sacramento-state-green 100%);
    background-position: top left, top right, center;
    background-repeat: no-repeat;
}