.content {
    grid-area: 1 / 1 / 2 / 3;

    font-size: 18px;
    line-height: 1;
    font-weight: 600;

    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

.button_left {
    text-align: justify;
    color: $color-line-3;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin: 0 16px;

    @include non_decor_button();
}

.button_right {
    text-align: justify;
    color: $color_noti_right;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin: 0 16px;

    @include non_decor_button();

}
