$m-side: 15px;



.main {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
    justify-items: stretch;

}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    align-items: center;

    &__rule {
        align-self: self-end;
    }

    &__logo--left {
        top: 0;
        left: 0;
    }
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $m-side;

    &__left {
        display: flex;
        justify-content: left;
        align-items: center;

        white-space: nowrap;

        &--text {
            font-size: 12px;
            color: $color-aquamarine-medium;
            margin-right: 8px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: right;

        &--number {
            font-size: 12px;
            background-color: $color-eden;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            text-align: center;
            line-height: 1.95;
            color: $color-aquamarine-medium;
        }
    }
}
