.mps {
    background: #ffffff;
    max-width: 327px;
    height: auto;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 39px 25px 39px;
    position: relative;
    top: 0vh;
    z-index: 5000;
}

.mps-chill {
    width: 100%;
}

.mps-button {
    border-radius: 29px;
    min-width: 189px;
    min-height: 40px;
    /* background-color: #1D8E7C; */
    background: linear-gradient(180deg, #32DCB3 0%, #073C43 100%);

    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng mượt khi đổi màu */
}
  
.mps-button:hover {
    background: linear-gradient(180deg, #42E4C1 0%, #0A5159 100%);
}

.mps-button-register-and-cancel {
    border-radius: 10px;
    min-width: 200px;
    min-height: 40px;
    background: linear-gradient(180deg, #32DCB3 0%, #073C43 100%);
    font-size: 23px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hiệu ứng mượt khi đổi màu */
}

.mps-button-register-and-cancel:hover {
    background: linear-gradient(180deg, #42E4C1 0%, #0A5159 100%);
}


.mps-input {
    border-radius: 16px;
    border: 1px solid #E2E2EA;
    min-height: 52px;
    min-width: 228px;
    padding-left: 10px;
}
  