.popup-overlay-center {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: grid;
    justify-content: center;
    align-content: center;

    z-index: 7;

}